    @import '../../style/variables.scss';
    @import '../../style/mixins.scss';

    
        .experience-header {
            text-align: center;
            padding: 40px 0;
            
            div {
                @include fontStyle($headerFontSize, $boldFontWeight, $narrowLetterSpacing);
            }
    
            p {
                @include fontStyle($subtitleFontSize, $lightFontWeight,  $narrowLetterSpacing);
                color: $smallTitleColor;
            }
        }
    
    .awards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        background-color: rgb(245, 245, 245);

        .award {
            margin: 30px 60px;
            width: auto;
            text-align: center;
            color: $smallTitleColor;
            transition: 0.3s all;
            cursor: pointer;
            filter: grayscale(100%);

            .award-icon {
                height: 80px;
                font-size: 80px;
            }

            &:hover {
                color: black;
                filter: grayscale(0);
            }

            .award-title {
                @include fontStyle($titleFontSize, $lightFontWeight, $narrowLetterSpacing);
                margin: 16px 0 0 0;
            }
        }
    }