@import '../../style/variables';
@import '../../style/mixins';

.passion {
    height: auto;

    .passion-top {
    background-color: #2D518F;

    .container {
        .passion-top-header {
            color: white;
            text-align: center;
            padding: 40px 20px;
            
            div {
                height: auto;
                @include fontStyle($headerFontSize, $boldFontWeight,  $narrowLetterSpacing);
            }

            p {
                @include fontStyle($subtitleFontSize, $lightFontWeight,  $narrowLetterSpacing);
                color: $smallTitleColor;
            }
        }     
    }
}

.passion-content {
    background-color: rgb(245, 245, 245);

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
            .passion-content-item {
                width: 350px;
                margin: 30px;
                background-color: white;
                position: relative;

                @media (max-width: 1300px) {
                    width: 300px;
                }

                @media (max-width: 768px) {
                    width: 80%;
                    margin: 30px 0;
                }
                
                @media (max-width: 576px) {
                    width: 100%;
                    margin: 0 0 20px;
                }

                .passion-content-item-top {
                    
                    .item-top-title {
                        top: 20px;
                        right: 20px;
                        position: absolute;
                        height: auto;
                        width: auto;
                        color: white;
                        @include fontStyle($subtitleFontSize, $lightFontWeight,  $narrowLetterSpacing);

                        .title-1 {
                            padding: 5px 7px;
                            background-color: red;
                        }

                        .title-2 {
                            padding: 5px 7px;
                            background-color: orange;
                        }

                        .title-3 {
                            padding: 5px 7px;
                            background-color: green;
                        }
                    }
                }

                .passion-content-item-middle {
                    padding: 20px;

                    .item-middle-title {
                        @include fontStyle( $smallTitleFontSize, $boldFontWeight, $narrowLetterSpacing);
                        margin-bottom: 8px;
                    }

                    .text-style {
                        margin:  0;
                    }
                }

                .passion-content-item-bottom {
                    padding: 20px;
                    border-top: 2px solid rgb(245, 245, 245);

                    .text-style {
                        margin:  0;

                        b {
                            color: $blackColor;
                        }
                    }
                }
            }
        }

        .passion-content-button {
            text-align: center;
            margin: 20px 0;
        }
    }
}