@import '../../style/variables';
@import '../../style/mixins';


.passion {
    background-color: #2D518F;

    .container {
        div.passion-header {
            color: white;
            text-align: center;
            padding: 40px 20px;
            
            div {
                height: auto;
                @include fontStyle($headerFontSize, $boldFontWeight,  $narrowLetterSpacing);
            }

            p {
                @include fontStyle($subtitleFontSize, $lightFontWeight,  $narrowLetterSpacing);
                color: $smallTitleColor;
            }
        }     
    }
}

.body-posts {
    background-color: rgb(245, 245, 245);

    .container {
        max-width: 1450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

            .body-posts-item {
                width: 25%;
                margin: -70px 30px 0;
                background-color: white;
                position: relative;

                @media (max-width: 1024px) {
                    margin: 60px 15px 0;
                    width: 60%;
                    }

                @media (max-width: 680px) {
                    width: 80%;
                    margin: 40px auto 0;
                }

                .body-posts-item-top {
                    
                    .font-style-title {
                        color: white;
                        letter-spacing: 1px;
                        font-size: 8px;
                        font-weight: 400;
                        top: 20px;
                        right: 20px;
                        position: absolute;
                        height: auto;
                        width: auto;

                        .title-1 {
                            padding: 7px;
                            background-color: red;
                        }

                        .title-2 {
                            padding: 7px;
                            background-color: orange;
                        }

                        .title-3 {
                            padding: 7px;
                            background-color: green;
                        }
                    }
                }

                .body-posts-item-middle {
                    padding: 20px 30px;

                    .font-style-title {
                        @include fontStyle( $smallTitleFontSize, $boldFontWeight, $narrowLetterSpacing);
                    }
                }

                .body-posts-item-bottom {
                    padding: 10px;
                    border-top: 2px solid rgb(245, 245, 245);
                    padding: 5% 15%;

                    b {
                        color: black;
                    }
                }
            }
        }

        button {
            display: block;
            width: auto;
            margin: 60px auto 40px;
            padding: 20px 30px;
        }
    }