@import '../../style/variables';
@import '../../style/mixins';


.single-page {
    width: 500px;
    padding: 20px;
    
    .single-page-link {
        overflow: hidden;

        img {
            margin-bottom: 6px;
            transition: 0.5s all;

            &:hover {
                transform: scale(1.1)
            }
        }
    }

    .single-page-content {
        padding: 10px;

        .single-page-content-title {
            @include fontStyle( $titleFontSize, $boldFontWeight, $narrowLetterSpacing);
            margin: 0 0 8px;
        }

        .single-page-content-tech {
            @include fontStyle( $smallTitleFontSize, $boldFontWeight, $narrowLetterSpacing);
            margin: 0 0 8px;
        }

        .single-page-content-icons {
            display: flex;
            align-items: center;
            
            .icon {
                width: auto;
            }

            svg {
                margin: 5px;
                font-size: 30px;
                width: auto;
            }
        }
    }
}

@media(max-width: 1200px) {
    .single-page {
        width: 80%;    
    }
}

@media(max-width: 992px) {
    .single-page {
        width: 100%;    
    }
}