@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.navbar {
    background-image: url("./img/picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .navbar-background {
        background-color: rgba(0, 0, 0, 0.2);

        .navbar-content {
            .navbar-top {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                position: fixed;
                z-index: 1;

                .navbar-top-links {
                    width: auto;

                    label { 
                        display: none;
                    }

                    input {
                        display: none;
                    }

                    ul {
                        display: flex;
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        li {
                            width: auto;
                            margin: 20px 15px;

                            &:last-child {
                                margin-right: 30px;
                            }

                            a {
                                @include fontStyle($subtitleFontSize, $lightFontWeight, $narrowLetterSpacing);
                                display: block;
                                text-decoration: none;
                                color: white;
                                opacity: 0.7;
                                transition: 0.3s all;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 576px) {
                .navbar-top {
                    justify-content: flex-start;
                
                    .navbar-top-links {
                        background-color: rgb(40, 40, 40);
                        
                        label { 
                            display: block;
                            height: 50px; 
                            width: 100vw;
                            line-height: 50px; 
                            text-align: left;
                            padding-left: 20px;
                            font-size: 1.6rem; 
                            cursor: pointer; 
                        }

                        #menu-toggle:checked + ul { 
                            display: block; 
                        }

                        ul { 
                            display: none; 
                        
                            li { 
                                width: 100vw; 
                                margin: 0;
                                padding: 10px 20px;   

                                &:last-child {
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .navbar-center {
                text-align: left;
                padding: 300px 0 0 300px;
                height: auto;

                .navbar-center-names {

                    div {
                        @include fluid-type($min_width, $max_width, 24px, $mainHeaderFontSize);
                        @include fontStyle($mainHeaderFontSize, $boldFontWeight, $narrowLetterSpacing);
                        padding-bottom: 25px;
                        letter-spacing: 10px;
                    }
                }

                .navbar-center-description {
                    p {
                        @include fontStyle($subtitleFontSize, $lightFontWeight, $narrowLetterSpacing);
                    padding-left: 5px;
                    }
                }
            }

            @media (max-width: 1200px) {
                .navbar-center {
                    padding: 225px 0 0 225px;
                }
            }

            @media (max-width: 992px) {
                .navbar-center {
                    padding: 150px 0 0 150px;
                }
            }

            @media (max-width: 576px) {
                .navbar-center {
                    padding: 125px 0 0 75px;
                }
            }
        }
    }
}