@import '../../style/variables.scss';
@import '../../style/mixins.scss';


.navbar {
    background-image: url("./img/picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-background {
        background-color: rgba(0, 0, 0, 0.2);

        .navbar-body {

            .navbar-top {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                position: fixed;
                color: white;
                z-index: 10;


                .navbar-links {
                    width: auto;

                    label { 
                        display: none;
                    }

                    input {
                        display: none; 

                    }

                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        @media (max-width: 760px) {
                            margin-bottom: 20px;
                        }

                        li {
                            width: auto;
                            height: auto;
                            margin: 20px 30px 20px 0;

                            &:first-child {
                                margin: 20px 30px;
                            }

                            a {
                                display: block;
                                font-weight: 400;
                                font-size: 10px;
                                text-decoration: none;
                                color: white;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                opacity: 0.7;
                                transition: 0.3s all;

                                &:hover {
                                    color: white;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                @media (max-width: 760px) {
                    .navbar-links {
                        display: block;
                        background-color: #35353B;
                        
                        label { 
                            display: block;
                            height: 60px; 
                            width: 60px; 
                            line-height: 60px; 
                            text-align: center; 
                            font-size: 1.8rem; 
                            background:none; 
                            cursor: pointer; 
                        }
                        &:active ul { 
                            display: none;  
                        }

                        #menu-toggle:checked + ul { 
                            display: block; 
                        }

                        ul { 
                            display: none; 
                        
                            li { 

                                width: 100vw; 
                                margin: 20px 0 20px 20px;
                               
                                &:first-child {
                                    margin: 0 0 0 20px;
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 760px) {
                .navbar-top {
                    justify-content: flex-start;
                }
            }

            .navbar-center {
                text-align: left;
                padding: 13% 0 0 18%;
                height: auto;
                color: white;
                text-transform: uppercase;
                font-weight: 400;

                .navbar-center-names {
                    margin: 50px 0 0 0;

                    p {
                        @include fluid-type($min_width, $max_width, 24px, 64px);
                        margin: 0;
                        padding-bottom: 25px;
                        height: auto;
                        font-weight: 700;
                        font-size: 64px;
                        letter-spacing: 10px;
                    }
                }

                .navbar-center-description {
                    p {
                        font-size: 10px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}