$min_width: 320px;
$max_width: 1280px;
$min_font: 16px;
$max_font: 24px;

$blackColor: #282828;
$hoverColor: #E0412C;
$smallTitleColor: #a09e9e;

$mainHeaderFontSize: 64px;
$headerFontSize: 26px;
$titleFontSize: 18px;
$smallTitleFontSize: 14px;
$subtitleFontSize: 10px;

$boldFontWeight: 700;
$lightFontWeight: 400;

$narrowLetterSpacing: 1px;



