@import '../style/variables.scss';
@import '../style/mixins.scss';


* {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1850px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.text-style {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    color: rgb(117, 117, 117);
    margin: 0 0 16px 0;
}

.bar {
    height: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.input-style {
    padding: 15px 0;
    border:none;
    border-bottom: 1px solid rgb(160, 158, 158);
    outline-width: 0;
    @include fontStyle($smallTitleFontSize, $lightFontWeight,  $narrowLetterSpacing);
}

button {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background-color: $blackColor;
    border: none;
    transition: 0.3s all;
    outline-width: 0;
    width: auto;
    padding: 20px 30px;

    &:hover {
        background-color: $hoverColor;
    }
}

