@import '../../style/variables';
@import '../../style/mixins';



footer {
    height: auto;

    .footer-top {
        .container {
            padding: 40px 200px;
            text-align: center;

            .footer-top-title {
                padding: 40px;

                div {
                    @include fontStyle($headerFontSize, $boldFontWeight,  $narrowLetterSpacing);
                }
            }
        
            @media (max-width: 576px) {
                .footer-top-title {
                padding: 0 0 40px;
                }
            }

            .footer-top-pools {
                height: auto;

                .footer-top-pools-line-1 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .single-pool {
                        padding: 10px 15px;
                        width: 33%;
                        min-width: 200px;
                    }
                }

                .footer-top-pools-line-2 {
                    display: flex;
                    justify-content: center;
                    
                    .single-pool {
                        padding: 10px 15px;
                        width: 100%;
                        min-width: 200px;
                    }
                }
            }

            .footer-top-button {
                margin: 20px 0;
            }
        }

        @media (max-width: 1200px) {
            .container {
                padding: 40px 100px;
            }
        }
        
        @media (max-width: 992px) {
            .container {
                padding: 40px 60px;

                .footer-top-pools {
                    .footer-top-pools-line-1 {
                        .single-pool {
                            width: 50%;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 768px) {
            .container {
                padding: 40px;

                .footer-top-pools {
                    .footer-top-pools-line-1 {
                        .single-pool {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        background-color: black;
        color: rgba(255, 255, 255, 0.4);
        font-size: 20px;

        .container {
            padding: 40px 200px 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .copyrights {
                width: auto;
                margin-right: 10px;
           }

           .footer-icons {
                display: flex;
                flex-direction: row;
                color: rgba(255, 255, 255, 0.2);
                width: auto;

                a {
                    transition: 0.3s all;
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        color: white;
                    }
                }
                
                svg {
                    font-size: 30px;
                    padding: 0 5px;
                    text-align: center;
                }
            }
        }

        @media (max-width: 1200px) {
            .container {
            padding: 40px 100px 100px;
            }
        }
        
        @media (max-width: 992px) {
            .container {
                padding: 40px 60px 100px;
            }
        }
        
        @media (max-width: 576px) {
            .container {
                padding: 20px 20px 100px;
            }
        }
    }
}
